<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/layui/css/layui.css">
    <link rel="stylesheet" href="./assets/css/login.css">
</head>

<body>
    <div class="login">
        <h1>小猪博客修改密码系统</h1>
        <form action="/change" method="POST">
            <input type="text" name="name" placeholder="Username" id="names" />
            <input type="password" name="password" placeholder="Password" id="password" />
            <button type="submit" id="loginBtn" class="btn btn-primary btn-block btn-large">点击修改</button>
        </form>
    </div>
</body>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/layui/layui.js"></script>
<script>
    let names = document.getElementById('names')
      console.log(document.getElementById('names').value);
    $("#changePass").on('click', function(){
    // return false
        $.ajax({
            type: 'post',
            url: 'http://127.0.0.1:3000/change',
            data: {
                names: $('#names').val(),
                password: $('#password').val()
            }
        }).then(res => {
            let { code, message } = res
            if(code === 0 ) {
                layer.msg(message,{icon:1})
                setTimeout(()=>{
                    location.href = './login'
                },800)
            }else{
                layer.msg(message,{icon:0})
            }
        })
        layer.msg('login')
        return false;
    })
</script>
</html>