<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="./assets/layui/css/layui.css">
</head>
<body>
  <div class="layui-layout layui-layout-admin">
    {{include "./common/header.html" }}
    {{include "./common/side.html" }}
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <div style="padding: 15px;">
          <table class="layui-table" id="cate" lay-filter="cate">
        </div>
      </div>
      <div style="margin-left: 30px;">
        <h3 style="margin-bottom: 10px;">主题换肤</h3>
        <form class="layui-form" action="" id="formColor">
          <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 120px;">
              <input type="text" value="" placeholder="请选择颜色" class="layui-input" id="test-form-input">
            </div>
            <div class="layui-inline" style="left: -11px;">
              <div id="test-form"></div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <script src="./assets/layui/layui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    layui.use(['table', 'form', 'colorpicker'], function () {
      var table = layui.table;
      var form = layui.form;
      var colorpicker = layui.colorpicker;
      var $ = layui.jquery;
      table.render({
        elem: '#cate'
        , url: '/sysData'
        , cellMinWidth: 80
        , cols: [[
          { field: 'id', width: 80, title: '序号', sort: true }
          , { field: 'val', width: 150, edit: 'text', title: 'XX博客' }
          , {
            fixed: "right", width: 150, title: '操作', templet: (obj) => {
              return `
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" id='del'>删除</a>
        `
            }
          }
        ]]
      });
      //监听单元格编辑
      table.on('edit(cate)', async function (obj) {
        const { data } = obj;
        const { code, message } = await $.post('/updSysData', data)
        if (code === 0) {
          layer.msg(message)
        }
      });

      //监听单元格删除
      table.on('tool(cate)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        const { data } = obj; //获得当前行数据
        console.log(data.id);
        layer.confirm('确定删除吗？', {
          btn: ['确定', '取消'] //按钮
        }, async function () {
          obj.del();
          $.ajax({
            type: 'get',
            url: `http://127.0.0.1:3000/delSysData`,
            data: { data: data.id }
          })
          layer.msg('删除成功', {
            icon: 1,
            time: 800
          });
        }, function () {
          layer.msg('取消删除', {
            time: 800,
          });
        });
      })
      colorpicker.render({
        elem: '#test-form'
        , color: '#1c97f5'
        , done: function (color) {
          $('#test-form-input').val(color);
          Cookies.set('colors', color, { expires: 365 })
          console.log(color);
        }
      });
    });
  </script>