<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="./assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    {{include "./common/header.html" }}
    {{include "./common/side.html" }}
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <div style="padding: 15px;">
          <table class="layui-table" id="cate" lay-filter="cate">
        </div>
      </div>
      <div>
        <h3 style="margin-bottom: 10px;">主题换肤</h3>
        <form class="layui-form" action="" id="formColor">
          <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 120px;">
              <input type="text" value="" placeholder="请选择颜色" class="layui-input" id="test-form-input">
            </div>
            <div class="layui-inline" style="left: -11px;">
              <div id="test-form"></div>
            </div>
          </div>
        </form>
      </div>
      <form id="sysForm">
        <div class="layui-form-item">
          <!-- <label class="layui-form-label">封面图</label> -->
          <div class="layui-input-inline" style="display: flex;">
            <input type="file" name="file" id="pic" onchange="uploadFile(this)" style="display:none">
            <div class="layui-upload-drag" style="width: 100px;" href="javascript:;" id="upload"><i
                class="layui-icon"></i>
              <div>上传logo图</div>
            </div>
            <img src="" id="preview" alt="" style="width: 150px">
          </div>
        </div>
        <button style="margin-left: 20px;" type="button" class="layui-btn" lay-submit id="updButton">点击提交</button>
      </form>
    </div>
  </div>
  <script src="./assets/layui/layui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    let isUpPic = 0

    // 上传文件
    function uploadFile(fileEle) {
      const file = fileEle.files[0];
      // 预览图片
      const fileReader = new FileReader();
      fileReader.readAsDataURL(file)
      fileReader.onload = function () {
        const base64 = this.result
        $("#preview").attr('src', base64)
      }
      isUpPic=1
    }

    layui.use(['table', 'form', 'colorpicker'], function () {
      var table = layui.table;
      var form = layui.form;
      var colorpicker = layui.colorpicker;
      var $ = layui.jquery;
      table.render({
        elem: '#cate'
        , url: '/sysData'
        , cellMinWidth: 80
        , cols: [[
          { field: 'id', width: 80, title: '序号', sort: true }
          , { field: 'val', width: 150, edit: 'text', title: 'XX博客' }
          , {
            fixed: "right", width: 150, title: '操作', templet: (obj) => {
              return `
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" id='del'>删除</a>
        `
            }
          }
        ]]
      });
      //监听单元格编辑
      table.on('edit(cate)', async function (obj) {
        const { data } = obj;
        const { code, message } = await $.post('/updSysData', data)
        if (code === 0) {
          layer.msg(message)
        }
      });

      //监听单元格删除
      table.on('tool(cate)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        const { data } = obj; //获得当前行数据
        console.log(data.id);
        layer.confirm('确定删除吗？', {
          btn: ['确定', '取消'] //按钮
        }, async function () {
          obj.del();
          $.ajax({
            type: 'get',
            url: `http://127.0.0.1:3000/delSysData`,
            data: { data: data.id }
          })
          layer.msg('删除成功', {
            icon: 1,
            time: 800
          });
        }, function () {
          layer.msg('取消删除', {
            time: 800,
          });
        });
      })
      colorpicker.render({
        elem: '#test-form'
        , color: '#1c97f5'
        , done: function (color) {
          $('#test-form-input').val(color);
          Cookies.set('colors', color, { expires: 365 })
          location.reload()
          console.log(color);
        }
      });

      // 上传文件
      $("#upload").on('click', () => {
        $("#pic")[0].click();
      })

    });
  </script>